.header {
    padding: 8px 0px;
    background-color: #040d21;
}

.container {
    width: 1248px;
    height: 56px;
    margin: auto;
    color: white;
    position: relative;
}

.logo img {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.container-menu-left {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 20px;
    float: left;
    text-decoration-line: none;
    color: white;
}

.container-right {
    position: relative;
    float: right;
}

.input-menu {
    position: absolute;
    right: 150px;
    width: 240px;
    margin-top: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid;
    box-shadow: none;
    border-radius: 6px;
    background-color: white;
}

.container-menu-signin {
    padding: 16px 20px;
    position: absolute;
    right: 68px;
    color: white;
    text-decoration-line: none;
}

.container-menu-signup {
    position: absolute;
    right: 0px;
    margin-top: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    border: 1px solid;
    border-radius: 6px;
    padding-right: 8px;
    color: white;
    text-decoration-line: none;
}
